<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/service">Our Services</a></li>
                <li><a href="/contact">Contact Us</a></li>
            </ul>
        </nav>
    </header>
    
    <div class="home">
        <h1>Welcome</h1>
        <p>At our company, we render free services on selected days, kindly click on  the services link <a href="/services">Services</a> to check for the available days and other services we render</p>
    </div>
</body>
</html>